#root {
  width: 100%;
}

nav {
  margin: auto;
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: rgb(109, 31, 161);
}

.links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 15px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.note-list {
  max-width: 17.5rem;
}

.course-list {
  max-width: 17.5rem;
}
