.notes-container {
  display: grid;
  /* justify-content: space-between; */
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  /* grid-template-columns: repeat(auto-fill, minmax(350px, 400px)); */
  grid-gap: 1rem;
}

.note {
  border: 2px solid rgb(109, 31, 161);
  background-color: #1d1d1d;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
}

.course-information {
  border-bottom: 2px solid rgb(109, 31, 161);
  display: flex;
  gap: 15px;
  padding: 5px;
  justify-content: space-between;
}

.text-container {
  padding: 5px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.delete-button {
  background-color: #272626;
  padding: 0px;
}

.timestamp {
  font-size: 0.8rem;
  line-height: 0.5rem;
  margin-top: 0.5rem;
}

.select-container {
  display: flex;
  margin: 0.2rem 0;
  gap: 0.5rem;
}

.list-notes {
  padding: 0 1rem;
}

.heading {
  text-align: center;
}
